*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #2D2D2D;
}
header{
    margin-top: 2rem;
    margin-right: 0rem;
    margin-bottom: -0.5rem;
    margin-left: 2.5rem;
}
#form{
    color: #ffffff;
    display: grid;
    max-width: 40vw;
    margin: auto; /*Centers the form in the screen*/

}
.container{
    display: grid;
    width: 100%;
    justify-items: center;
}
#welcome{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
    padding-top: 27px;
    padding-bottom: 43px;
}
.lab{
    width: 100%;
    text-align: start;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
}
.inp{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #181818;
    border-radius: 10px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    box-sizing: border-box;
}
.textAlert{
    margin-top: -15px;
    width: 100%;
    text-align: end;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    color: #E73550;
}
#formInfo{
    margin-top: 5px;
    width: 100%;
    text-align: start;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
}
.error{
    border: 2px solid #E73550;
}
.success{
    border: 3px solid rgb(0, 206, 34);
}

#register{
    margin-top: 10px;
    width: 100%;
    height: 3rem;
    color: white;
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    background-color: #0C70F2;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}
#register:hover{
    background-color: green;
    transition: 0.7s;
}