*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #2D2D2D;
}
header{
    margin-top: 2rem;
    margin-right: 0rem;
    margin-bottom: -0.5rem;
    margin-left: 2.5rem;
}
#container{
    color: #ffffff;
    display: grid;
    max-width: 40vw;
    margin: auto; /*Centers the container in the screen*/
    justify-items: center; /*Centers the content inside the container*/
}
#welcome{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
    padding-top: 27px;
    padding-bottom: 43px;
}
label{
    width: 100%;
    text-align: start;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
}
input{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #181818;
    border-radius: 10px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    box-sizing: border-box;
}
#b-cadastrar{
    margin-top: 10px;
    width: 100%;
    height: 3rem;
    color: white;
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    background-color: #0C70F2;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}
#b-cadastrar:hover{
    background-color: green;
    transition: 0.7s;
}